body{
  background-color: black;
  font-family: 'Righteous', cursive;
}
.jumbotron{
  background-image: url("http://brightoncentre.co.uk/media/1051/istock_000042260094small.jpg?crop=0,0.0412614205717654,0,0.42823460064839375&cropmode=percentage&width=1150&height=460&rnd=131221216910000000");
  color: DarkGoldenRod;
  text-shadow: 2px 2px black;
}
h1{
  text-align: center;
}
#recordCase{
  margin-right: 20px;
  padding: 10px;
  border-radius: 9px;
  border: 9px;
  background-color: DimGray;
  margin-top: 18px;
  color: GoldenRod;
  text-shadow: 2px 2px black;
}
#delete{
  margin-right: 25px;
  color: black;
}

#inputDiv {
  margin-top: 10px;
  text-align: center;
}

#submitButton {
  height: 30px;
  color: black;
}

.btn{
  margin-bottom: 10px;
  color: black;
}
input{
  color: black;
}
