body{
  background-color: black;
}
.jumbotron{
  background-color: Silver;
  color: black;
}
h1{
  text-align: center;
}
#recordCase{
  margin-right: 20px;
  padding: 10px;
  border-radius: 9px;
  border: 9px;
  background-color: DimGray;
}
#delete{
  margin-right: 25px;
}
